body,
input {
  font: 14px Lucida Grande, sans-serif;
  color: #666;
}
small.heart {
  position: absolute;
  font-size: 10px;
  right: 0;
  padding: 1em;
}
pre.sh {
  background: #fff;
  padding: 0.4em 0;
}
pre.sh::before {
  content: "$ ";
}
body {
  text-align: center;
  background-color: #f4f4f2;
}
input {
  font-family: Georgia, serif;
  border: solid 1px #ddd;
  padding: 0.5em;
}
input:hover {
  border-color: #bbb;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #cc3d33;
}
a:link:hover,
a:visited:hover,
a:active:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}
#content {
  width: 1024px;
  margin: 0 auto;
  text-align: left;

#index table {
  width: 100%;
  border-collapse: collapse;
}
#index table tr {
  vertical-align: top;
}
#index table h2 {
  white-space: nowrap;
}


