<div style="max-width:100%;">
    <a href="/"> 返回 </a>
    <table class="table table-striped">
    <tbody>
      <tr ng-repeat="test in latest">
         <td>
             <ul style="list-style: none;" class="list-group">
                 <li><repolink data={{test}} class="list-group-item">
                 </li>

                 <ul ng-show="{{test.show}}" style="list-style: none;" class="list-group">
                     <li ng-repeat="msg in test.errMsg" class="list-group-item" style="margin-left:20px">{{msg}}</li>
                 </ul>
             </ul>
         </td>
         <td>{{test.date}}</td>
      </tr>
    </tbody>
    </table>
</div>

